SECRET_KEY=change-me-in-dotenv
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=anisayt
DB_USER=anisayt
DB_PASSWORD=anisayt
DB_HOST=localhost
DB_PORT=5432
BOT_TOKEN=change-me
GOOGLE_CLIENT_ID=change-me
GOOGLE_PROJECT_ID=change-me
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_USER_INFO_URI=https://www.googleapis.com/oauth2/v2/userinfo
GOOGLE_CLIENT_SECRET=change-me
GOOGLE_REDIRECT_URL=http://localhost:8000/api/auth/googleCallback
SITE_URL=http://localhost:8000
