{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Boshqaruv — Animee</title>
  <link rel="stylesheet" href="{% static 'css/global.css' %}?v=animee125"/>
</head>
<body>
{% include "partials/nav.html" with active="dashboard" %}
<div id="app">
  <div class="page-container">
    <div id="dashRoot">
      <div class="spinner-wrap"><div class="spinner"></div></div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer-logo">ANI<span>MEE</span></div>
  <p>animee.uz — admin panel. © 2026</p>
</footer>
<script src="{% static 'js/api.js' %}?v=animee91"></script>
<script src="{% static 'js/dashboard.js' %}?v=animee88"></script>
</body>
</html>
